.head_div{
    left: 20%;
    position: absolute;
    font-size: 30px;
}
.lap{
    width: 190px;
    height: 170px;
    float: right;
   
    
}
.body_div{
    width: 60%;
    left: 20%;
    position: absolute;
    top: 10%;
    
    
}
.para{
    text-align: justify;
    margin-right: 25%;
}
.github{
    width: 30px;
    height: 30px;
}
.linkedin{
    width: 30px;
    height: 30px;
}
.insta{
    width: 37px;
    height: 30px;
}
.container{
    display: flex;
    gap: 60px;
    margin-top: 25px;
}
.div {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}

.contact{
    background-color: #007bff;
}

.resume {
    background-color: #007bff;
}
.project{
    float: right;
    width: 190px;
    height: 150px;
}